.faq {
    margin-top: 6rem;
    padding: 0 3rem;    
}

.faq h2 {
    font-family: "Grandstander", sans-serif;
    font-weight: bold;
    letter-spacing: -0.1rem;
    font-size: 4.5rem;
    margin-bottom: 2rem;
}

.faq h2 span {
    color: var(--secondary);
}

.faq .accordion .item {
    border-bottom: 2px solid var(--secondary);
}

.faq .accordion .item:last-child {
    border-bottom: none;
}

.faq .accordion .item .title {
    font-size: 2rem;
    color: var(--secondary);
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    cursor: pointer;
}

.faq .accordion .item .title img {
    width: 1.5rem;
    transition: all ease .5s;
}

.faq .accordion .item .body {
    line-height: 2.5rem;
    overflow-y: hidden;
    max-height: 0;
    transition: all ease .5s;
}

.faq .accordion .item .body p {
    padding-bottom: 2rem;
}

.faq .accordion .item.opened .body {
    max-height: 100vh;
}

.faq .accordion .item.opened .title img {
    transform: rotate(180deg);
}