.testimonials {
    background-color: var(--foreground);
    color: var(--primary);
    padding: 5rem 0;
   
}

.testimonials .container {
    max-width: 60rem;    
}

.testimonials .quote {
    font-weight: bold;
    font-size: 3rem;
    line-height: 5rem;
    padding: 5rem 2rem;
    text-align: center;
}

.testimonials .icons {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    font-size: 25rem;
} 

@media(width > 600) {
    .testimonials .icons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}