.topics {
    padding: 5rem 3rem;
}

.topics .topic {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-bottom: 4rem;
}

.topics .topic .left,
.topics .topic .right {
    flex: 1;
}

.topics .topic .right img {
    max-width: 100%;
}

.topics li {
    font-family: "Grandstander", sans-serif;
    font-weight: bold;
    letter-spacing: -0.1rem;
    font-size: 5rem;
    line-height: 5rem;
}

.topics li:nth-child(even),
.topics li span {
    color: var(--secondary);
}

.topics .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

@media(width > 600px) {
    .topics .topic {
        flex-direction: row;
    }

    .topics .topic.reverse {
        flex-direction: row-reverse;
    }

    .topics li {
        font-size: 5rem;
        line-height: 5rem;
    }

    .topics .button {
        width: auto;
    }
}